<header class='main-header'>
    <nav class='main-header_nav'>
        <ul class='main-header_item-list'>
            <li class='main-header_item'>
                <a href = '/' class =''>Shop</a>
            </li>
            <li class='main-header_item'>
                <a href = '/admin'>Admin</a>
            </li>
        </ul>
    </nav>
</header>