<!DOCTYPE html>
<html>
   <%- include('partials/head.ejs') %>
    <body>
        <%- include('partials/main-nav.ejs') %>
        <main>
            <h3>Milk Sweets</h3>
            <% if(products.length>0){ %>
                <ul>
                    <% products.forEach(product=>{ %>
                        <li>
                            <%= product.name%>
                        </li>
                    <% }) %>
                </ul>
            <% }else{%>
                <h4>No items found</h4>
            <% } %>
        </main>
    </body>
</html>