*{
    margin:0;
    padding:0;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Laila', serif;
}

main {
    padding: 1rem;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: #478307;
    padding: 0 1.5rem;
}

.main-header_nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header_item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header_item {
    margin: 0 1rem;
    padding: 0;
}

.main-header_item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.main-header_item a:hover,
.main-header_item a:active,
.main-header_item a.active {
    color: #ccc;
}

.main-content{
    margin:0 auto;
    width:90%;
}
.main-content_nav{    
    width:100%;
    padding:20px;
    position: relative;    
      
}
.main-content_wrapper{
    display: flex;
    width:100%;
    overflow: hidden;
    border:2px solid green;
}
.main-content_item-list{    
    display: flex;
    position: relative;
    border:2px solid red;
}

.main-content_item{    
    width: 225px; 
    list-style: none;
    padding:5px;
    margin:10px 20px 10px 0;
    border: 2px solid #aaa;
    border-radius: 5px 5px;
    align-items: center;
    background-color: #666;
    color:#fff;
    cursor: pointer;    
   text-align: center;
  }


.item_image {
   width: 100%;
   height: 200px;
   border:2px solid #666;
   border-radius: 5px 5px;
}

.item_image img {
    width: 100%;
    display: block;   
}

.item_name{
    font-size: 15px;
    padding:10px 0;
    font-weight: bold;
}

.item_price{
    font-size: 14px;
}
.item_button{
    margin:10px;
}
#add-to-cart{
    font-size: 12px;
    padding:10px 20px;
    background-color: #478307;
    color:#fff;
    border:2px solid #fff;
    border-radius: 5px 5px;
    cursor: pointer;
    outline: none;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position:absolute;
    top:50%;
    right:0;
    cursor: pointer;
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position:absolute;
    top:50%;
    left:0;
    cursor: pointer;
  }